 .u-section-1 {
  background-image: url("images/3cca27371922029f97c961f1efc7d06c940a4bc769c5697f6fa04f41eaeda09b4e36d0ad48f10b160632a3a04e00e26c0a0d9d0f1a4d08e8d2ddcb_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 761px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 690px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 669px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 583px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 519px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 531px;
}

.u-section-2 .u-text-1 {
  font-style: italic;
  font-weight: 400;
  font-family: Lato, sans-serif;
  margin: 60px 97px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 880px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 469px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: linear-gradient(#4b4f5f, #292b33);
}

.u-section-3 .u-sheet-1 {
  min-height: 963px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 25px auto 0 290px;
}

.u-section-3 .u-countdown-1 {
  background-image: none;
  margin: 25px auto 0;
}

.u-section-3 .u-countdown-counter-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-3 .u-countdown-label-1 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-3 .u-countdown-separator-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-3 .u-countdown-counter-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-3 .u-countdown-label-2 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-3 .u-countdown-separator-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-3 .u-countdown-counter-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-3 .u-countdown-label-3 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-3 .u-countdown-separator-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-3 .u-countdown-counter-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-3 .u-countdown-label-4 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-3 .u-countdown-separator-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-3 .u-countdown-counter-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-3 .u-countdown-label-5 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-3 .u-countdown-separator-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-3 .u-countdown-counter-6 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-3 .u-countdown-label-6 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-3 .u-slider-1 {
  min-height: 600px;
  width: 763px;
  height: auto;
  margin: 6px auto 0;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-3 .u-group-1 {
  width: 411px;
  min-height: 374px;
  height: auto;
  background-image: none;
  margin: 34px auto 0;
}

.u-section-3 .u-text-2 {
  text-align: left;
  margin: 0;
}

.u-section-3 .u-text-3 {
  text-align: left;
  width: 312px;
  margin: 47px auto 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 80px;
}

.u-section-3 .u-group-2 {
  width: 411px;
  min-height: 374px;
  height: auto;
  background-image: none;
  margin: 34px auto 0;
}

.u-section-3 .u-text-4 {
  text-align: left;
  width: 185px;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  text-align: left;
  width: 312px;
  margin: 47px auto 0;
}

.u-section-3 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
}

.u-section-3 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  left: auto;
  position: absolute;
  right: 0;
}

.u-section-3 .u-text-6 {
  margin: 110px auto 32px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 222px;
  }

  .u-section-3 .u-slider-1 {
    width: 720px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 167px;
  }

  .u-section-3 .u-slider-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: 105px;
  }

  .u-section-3 .u-group-1 {
    width: 320px;
  }

  .u-section-3 .u-group-2 {
    width: 320px;
  }
}